# Dependencies
node_modules/

# Production build output (Vite)
dist/
.vite/

# If this folder contains only the build output
apps/

# Local environment settings
.env
.env.*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor/IDE settings
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# macOS
.DS_Store
